---
layout: default
---
<section class="hero">
    <div class="container {% if page.full_width %}max-container{% endif %}">
        {% if page.heading %}
        <h1><strong>{{ page.heading }}</strong></h1>
        {% elsif page.title and page.layout != 'archive' %}
        <h1><strong>{{ page.title }}</strong></h1>
        {% endif %}
        {% if page.description %}
        <h2 class="subtext">{{ page.description }}</h2>
        {% endif %}
    </div>
</section>
<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			{{ content }}
		</div>
	</section>
</div>
